@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #000;
  overflow: hidden;
}
.close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
  &.active {
    display: inline-block;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px 30px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  .logo {
    font-size: 2em;
    font-family: "Black Ops One", cursive;
    color: #fff;
    text-decoration: none;
    animation: left-in 0.5s linear forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    min-height: 100%;
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
    animation: left-in 0.5s linear forwards;
    animation-delay: 3s;
    opacity: 0;
    &:hover,
    &.active {
      width: 300px;
    }
    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      li {
        position: relative;
        width: 100%;
        list-style: none;
        transition: 0.5s;
        &:hover {
          background: #111;
          a {
            color: #fff;
          }
        }
        a {
          position: relative;
          width: 100%;
          display: flex;
          color: #111;
          text-decoration: none;
          span:nth-child(1) {
            position: relative;
            display: block;
            min-width: 60px;
            min-height: 60px;
            line-height: 60px;
            text-align: center;
            i {
              font-size: 24px;
            }
          }
          span:nth-child(2) {
            position: relative;
            display: block;
            font-size: 1.1em;
            font-weight: 500;
            padding: 0 10px;
            min-height: 60px;
            line-height: 60px;
            text-align: start;
          }
        }
      }
    }
  }
  .toggle {
    max-width: 60px;
    cursor: pointer;
    animation: bottom-in 0.5s linear forwards;
    animation-delay: 0.75s;
    opacity: 0;
    img {
      max-width: 100%;
    }
  }
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px 0 110px;
  background: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: fade-in 0.5s linear forwards;
  animation-delay: 0s;
  opacity: 0;
  .content {
    max-width: 600px;
    h2 {
      font-size: 6em;
      color: #fff;
      font-weight: 400;
      line-height: 1em;
      animation: fade-in 0.5s linear forwards;
      animation-delay: 1.5s;
      opacity: 0;
    }
    h3 {
      font-size: 4em;
      color: #fff;
      font-weight: 400;
      line-height: 1em;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      z-index: 99;
      animation: fade-in 0.5s linear forwards;
      animation-delay: 1.75s;
      opacity: 0;
    }
    p {
      font-size: 1.1em;
      font-weight: 400;
      color: #fff;
      margin: 20px 0;
      z-index: 99;
      animation: fade-in 0.5s linear forwards;
      animation-delay: 2s;
      opacity: 0;
    }
    a {
      position: relative;
      display: inline-block;
      font-size: 1.1em;
      color: #111;
      background: #fff;
      padding: 10px 30px;
      letter-spacing: 1px;
      border-radius: 3px;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.5s;
      animation: fade-in 0.5s linear forwards;
      animation-delay: 2.25s;
      opacity: 0;
      &:hover {
        background: #000;
        color: #fff;
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.6);
      }
    }
  }
  .sci {
    position: absolute;
    bottom: 40px;
    right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a {
        height: 50px;
        width: 50px;
        background: #fff;
        border-radius: 50%;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        animation: right-in 0.5s linear forwards;
        animation-delay: calc(0.2s * var(--i));
        opacity: 0;
        &:hover {
          transform: translateY(-10px);
          background: #000;
          box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
          img {
            filter: invert(1);
          }
        }
        img {
          transform: scale(0.5);
        }
      }
    }
  }
}
/* Animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes left-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes right-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bottom-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Responsive Desing */
@media (max-width: 768px) {
  header {
    padding: 15px 40px;
    nav {
      left: -600px;
      &.active {
        left: 0;
        width: 300px;
      }
    }
    .toggle {
      max-width: 40px;
    }
  }
  .banner {
    padding: 0 40px;
    .content {
      h2 {
        font-size: 3em;
      }
      h3 {
        font-size: 2em;
      }
      P {
        font-size: 1em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      }
      a {
        font-size: 1em;
      }
    }
    .sci {
      position: absolute;
      right: inherit;
    }
  }
}
